<?php

define('NTFY_TOPIC', 'aurorawatch');
// define('NTFY_TOPIC', 'aurorawatch-test');

define('API_URL', 'https://aurorawatch-api.lancs.ac.uk/0.2/status/alerting-site-activity.xml');
// define('API_URL', __DIR__ . '/dummy.xml');